body, h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #606060;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

html {
	scroll-behavior: smooth;
}

.my-big-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/my_photo_mono.jpg');
  min-height: 100%;
}

.sidebar {
    position: fixed;
    width: 40%;
    height: 100%;
    background: white;
    /* z-index: 1; */
    /* overflow: auto; */
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #ffffff;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    font-size: 16px;
}

.nav-bar li {
    padding-left: 1rem;
}

a {
  text-decoration: none;
  color: #606060;
}

a:visited {
    color: #606060;
  }

.main-content {
    transition: margin-left 0.4s;
    padding: 12px 24px;
    margin-left: 40%;
}

.center-heading {
    text-align: center;
    color: black;
    padding:128px 16px;
    position: relative;
    overflow: auto;
    width:auto;
}


.image {
    max-width:100%;
    height:auto;
}

img {
    vertical-align:middle;
    border-style: none;
}

.round {
    border-radius:4px;
}

.med-img {
    display:block;
    width:60%;
    margin:auto;
}

.title-heading {
    font-family: 'Londrina Shadow', cursive;
    font-size: 70px;
    margin: 0;
}

.top-button {
    position: fixed;
    bottom: 10px;
    right: 15px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    justify-content: center;
    background: #60606068;
    border-style: none;
    font-size: 20px;
    color: #606060;
  }

.content {
    margin-left:auto;
    margin-right:auto;
    max-width:980px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.darker-grey {
    color:#757575;
}

.body-text {
    /* color: #606060; */
    text-align: justify;
    line-height: 24px;
}


.light-bar {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
}
  
.portfolio-item {
    height: 30vh;
    flex-grow: 1;
    list-style: none;
    display: block;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
  
.portfolio-item:last-child {
    flex-grow: 10;
}

.portfolio-img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.portfolio-img:hover {
    opacity: 0.3;
}

/* .port-item-name {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center
} */


/* .port-item-name:hover {
    opacity: 1;
} */


/* .port-item-text {
    font-size: 16px;
    padding: 16px 32px;
} */

fieldset {
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 6px;
}

legend {
    font-size: large;
    padding: 10px 10px;
}

input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
	background: #757575;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 80px;
	border-radius: 6px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
    font-size: large;
}

input[type=submit]:hover {
	background: #0075ff;
}


.footer {
    padding: 12px 24px;
    margin-left: 40%;
}


@media (min-width:993px) {
    .hide-large {
        display:none;
    }

    /* .sidebar {
        display:block;
    } */
}

@media (max-width:992px) {
    .sidebar {
        display:none;
    }
    .center-heading, .main-content, .footer {
        margin-left:0;
        margin-right:0;
    }
}



@media (max-width:992px) and (min-width:601px){
    .hide-medium {
        display:none;
    }
}

@media (max-width:600px) {
    .hide-small {
        display:none;
    }
}